.playtray {
  padding: 12px 24px;
  display: flex;
  align-items: center;
  column-gap: 48px;
  background: #000;

  a {
    color: #fff;
    cursor: pointer;
  }

  a:hover {
    color: #00b96b;
  }

  .ant-slider > .ant-slider-rail {
    background: #f0f0f0;
  }

  .ant-slider > .ant-slider-track {
    background: #1db954;
  }

  .playtray-left {
    flex: 1 1 20%;
    display: flex;
    align-items: center;
    column-gap: 12px;

    .song-cover {
      img {
        width: 48px;
        height: 48px;
        vertical-align: middle;
      }
    }

    .song-cover-fallback {
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #f0f0f0;
      border-radius: 4px;
    }

    .song-info {
      height: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 8px;

      div {
        color: #f0f0f0;
      }

      .song-name {
        font-size: 16px;
      }

      .arts {
        font-size: 12px;
      }
    }

    .song-action {
      margin-left: 12px;
      display: flex;
      align-items: center;
      column-gap: 12px;
    }
  }

  .playtray-center {
    flex: 1 1 60%;

    .play-action {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 24px;
      margin-bottom: 8px;
    }

    .play-progress {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 12px;

      .play-current-time,
      .play-total-time {
        flex: 0 0 65px;
        width: 65px;
        color: #fff;
        text-align: center;
      }
    }
  }

  .playtray-right {
    flex: 1 1 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 16px;

    .play-volume {
      display: flex;
      align-items: center;
    }

    .play-volume-toggle-mute {
      flex: 0 0 25px;
      display: flex;
      align-items: center;
    }

    .play-rate {
      display: inline-block;
      padding: 2px;
      text-align: center;
      flex: 0 0 36px;
    }
  }
}

.rc-audio-drawer {
  .ant-drawer-body {
    position: relative;
  }

  .drawer-title {
    position: fixed;
    width: 100%;
    height: 48px;
    padding: 48px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .drawer-content {
    height: calc(100% - 100px);

    .lyric {
      padding: 48px;
      height: 100%;
      display: flex;
      justify-content: center;
    }
  }
}
